<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Your Learning Resources</h3>
        <ul>
          <li>
            <a href="#">Your Learning Community</a>
          </li>
          <li>
            <a href="#">Your Learning Service Center</a>
          </li>
          <li>
            <a href="#">Your Learning Plugin</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>Checkpoint Resources</h3>
        <ul>
          <li>
            <a href="#">Introducing Checkpoint</a>
          </li>
          <li>
            <a href="#">Learning Collection</a>
          </li>
          <li>
            <a href="#">Checkpoint Tracker</a>
          </li>
          <li>
            <a href="#">Checkpoint Community</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>E&C Resources</h3>
        <ul>
          <li><a href="#">Learning</a></li>
          <li><a href="#">Administration</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Notifications</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="#">Questions</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>E&C Tenants</h3>
        <ul>
          <li><a href="#">iba</a></li>
          <li><a href="#">w3</a></li>
        </ul>
      </div>
    </div>

    <div class="deep-footer">
      <a href="#">E&C Terms of Use</a>
      <a href="#">E&C Data Privacy</a>
      <a href="#">Business Conduct Guidelines</a>
      <a href="#">Accessibility</a>
      <a href="#">Request Accessibility Assistance</a>
    </div>
  </div>
</div>
