.edit-card {
  text-decoration: none;
  border-radius: 5px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  .card {
    height: 100%;
    border: 1px solid #1676a7;
    transition: 0.3s;
    .card-header{
      text-align: end;
      background-color: #1676a7;
      color: #ffffff;
    }
    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      img {
        width: 50px;
      }
      .card-text {
        padding: 0 0 0 10px;
        text-align: end;
      }
    }
    &:hover{
      color: #000;
      text-decoration: none;
      box-shadow: 0 10px 15px 0 rgb(0 0 0 / 20%);
    }
  }

}
