<div class="role-row" [routerLink]="[index]">
  <div class="role-col"><label class="role-label d-md-none">Role: </label> {{ role.role }}</div>
  <div class="role-col"><label class="role-label d-md-none">Desc: </label> {{ role.desc }}</div>
  <div class="role-col"><label class="role-label d-md-none">Phone: </label> {{ role.phone }}</div>
  <div class="role-col"><label class="role-label d-md-none">Email: </label> {{ role.email }}</div>
  <div class="role-col"><label class="role-label d-md-none">Status: </label> {{ role.status }}</div>
  <!-- <div class="role-col"><button class="btn bg-transparent"><i class="bi bi-trash"></i></button></div> -->
</div>
