.role-row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #adb5bd;
  transition: 0.3s;
  .role-label {
  display: inline-block;
  padding: 0 5px 0 0;
  margin: 0;
  font-weight: 600;
  align-items: center;
  }
  .role-col {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  &:hover {
    background-color: #adb5bd;
  }
}
