<div class="container my-3">
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-success" (click)="onCreate()">New Role</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-danger" (click)="onClear()">Clear</button>
    </div>
    <div class="input-group mt-3 mt-md-0 col-md-3">
      <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="searchString">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="table-header d-md-flex">
        <div class="table-header-col">Role</div>
        <div class="table-header-col">Desc</div>
        <div class="table-header-col">Phone</div>
        <div class="table-header-col">Email</div>
        <div class="table-header-col">Status</div>
      </div>
      <app-role-item
        *ngFor="let roleEl of roles | filterAll: searchString; let i = index"
        [role]="roleEl"
        [index]="i"
      ></app-role-item>
    </div>
  </div>
</div>
