.table-header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  .table-header-col {
    border-right: 1px solid #adb5bd;
    border-top: 1px solid #adb5bd;
    display: flex;
    width: 100%;
    padding: 3px 10px;
    font-weight: 600;
    cursor: pointer;
    &:nth-last-child(-n+1){
      border-right: none;
    }
  } 
}